In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# One Hot Encoding

One Hot Encoding search create *m* number of binary features. Where *m* is the number of diferents categories there are.

In [24]:
df = pd.read_csv("../../datasets/pokemon.csv")
features_to_vis = ["Name", "Generation", "Legendary", "Lgnd_Label", "Gen_Label"]

df[features_to_vis[0:3]].iloc[158:165]

                    Name Generation  Legendary
158              Moltres      Gen 1       True
159              Dratini      Gen 1      False
160            Dragonair      Gen 1      False
161            Dragonite      Gen 1      False
162               Mewtwo      Gen 1       True
163  MewtwoMega Mewtwo X      Gen 1       True
164  MewtwoMega Mewtwo Y      Gen 1       True

In [25]:
# Give numerical format to generations
gen_le = LabelEncoder()
gen_labels = gen_le.fit_transform(df["Generation"])
df["Gen_Label"] = gen_labels

# Give numerical format to legendary
lgnd_le = LabelEncoder()
lgnd_labels = lgnd_le.fit_transform(df["Legendary"])
df["Lgnd_Label"] = lgnd_labels

df[features_to_vis].iloc[156: 170]

                    Name Generation  Legendary  Lgnd_Label  Gen_Label
156             Articuno      Gen 1       True           1          0
157               Zapdos      Gen 1       True           1          0
158              Moltres      Gen 1       True           1          0
159              Dratini      Gen 1      False           0          0
160            Dragonair      Gen 1      False           0          0
161            Dragonite      Gen 1      False           0          0
162               Mewtwo      Gen 1       True           1          0
163  MewtwoMega Mewtwo X      Gen 1       True           1          0
164  MewtwoMega Mewtwo Y      Gen 1       True           1          0
165                  Mew      Gen 1      False           0          0
166            Chikorita      Gen 2      False           0          1
167              Bayleef      Gen 2      False           0          1
168             Meganium      Gen 2      False           0          1
169            Cyndaquil      Gen 2      False           0          1

In [32]:
gen_ohe = OneHotEncoder()
gen_feature_arr = gen_ohe.fit_transform(df[["Gen_Label"]]).toarray()
gen_feature_labels = list(gen_le.classes_)
gen_features = pd.DataFrame(gen_feature_arr, columns=gen_feature_labels)
gen_features.head()

   Gen 1  Gen 2  Gen 3  Gen 4  Gen 5  Gen 6
0    1.0    0.0    0.0    0.0    0.0    0.0
1    1.0    0.0    0.0    0.0    0.0    0.0
2    1.0    0.0    0.0    0.0    0.0    0.0
3    1.0    0.0    0.0    0.0    0.0    0.0
4    1.0    0.0    0.0    0.0    0.0    0.0

In [37]:
lgnd_ohe = OneHotEncoder()
lgnd_feature_arr = lgnd_ohe.fit_transform(df[["Legendary"]]).toarray()
lgnd_feature_labels = ["Legendary_"+str(cls_label) for cls_label in lgnd_le.classes_]
lgnd_features = pd.DataFrame(lgnd_feature_arr, columns=lgnd_feature_labels)
lgnd_features.head()

   Legendary_False  Legendary_True
0              1.0             0.0
1              1.0             0.0
2              1.0             0.0
3              1.0             0.0
4              1.0             0.0

In [41]:
df_sub = df[["Name", "Generation", "Gen_Label", "Legendary", "Lgnd_Label"]]
df_ohe = pd.concat([df_sub, gen_features, lgnd_features], axis=1)
columns = sum([["Name", "Generation", "Gen_Label"], gen_feature_labels, ["Legendary", "Lgnd_Label"], lgnd_feature_labels], [])
df_ohe[columns].iloc[156: 170]

,Name,Generation,Gen_Label,Gen 1,Gen 2,Gen 3,Gen 4,Gen 5,Gen 6,Legendary,Lgnd_Label,Legendary_False,Legendary_True
156,Articuno,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
157,Zapdos,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
158,Moltres,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
159,Dratini,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
160,Dragonair,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
161,Dragonite,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
162,Mewtwo,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
163,MewtwoMega Mewtwo X,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
164,MewtwoMega Mewtwo Y,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,True,1,0.0,1.0
165,Mew,Gen 1,0,1.0,0.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
166,Chikorita,Gen 2,1,0.0,1.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
167,Bayleef,Gen 2,1,0.0,1.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
168,Meganium,Gen 2,1,0.0,1.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0
169,Cyndaquil,Gen 2,1,0.0,1.0,0.0,0.0,0.0,0.0,False,0,1.0,0.0